.flex_wrapper_form {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}

.container_form {
  width: 280px;
}

.logo_form {
  width: 66px;
  height: 80px;
  margin: auto;

  background-image: url(../../../../public/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.forgot_password_form {
  display: block;
  margin: 32px auto 0;

  font-size: var(--fs-18);
  font-weight: var(--fw-500);

  color: var(--color-blue-link);
  text-decoration: underline;
}
