.swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto 0;
}

.swiperSlide {
  min-height: 576px;
}

.container {
  display: flex;
  gap: 25px;
  padding: 74px 77px;
  width: 100%;

  background-color: var(--color-white);
  border-radius: 20px;
}

.slider_container {
  max-width: 100%;
}

.slider_container :global .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  column-gap: 11px;
  margin: 44px 0 0 0;
}

.custom_swiper_pagination_bullet {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--color-blue);
  opacity: 1;
  cursor: pointer;
}

.custom_swiper_pagination_bullet_active {
  background-color: var(--color-brown-wine);
}

.custom_swiper_pagination_bullet:active {
  background-color: var(--color-bullets-active);
}
