.swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-width: 1280px; */
  margin: auto 0;
  align-items: center;
}

.swiperSlide {
  min-height: 576px;
}
/* 
.container {
  display: flex;
  gap: 25px;
  padding: 74px 77px;
  width: 100%;

  border-radius: 20px;
} */

.slider_container {
  display: flex;
  max-width: 100%;
}

.slider_container :global .swiper-pagination-bullets {
  display: flex;
  justify-content: center;
  width: 1280px;
  column-gap: 11px;
  margin: 20px 0 20px 0;
}
.custom_swiper_pagination_bullet {
  /* display: block; */
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: var(--color-blue);
  opacity: 1;
  cursor: pointer;
}

.custom_swiper_pagination_bullet_active {
  background-color: var(--color-brown-wine);
}

.custom_swiper_pagination_bullet:active {
  background-color: var(--color-bullets-active);
}
.swiper-pagination{
 /* width: 100wh; */
}