.buttonSmall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  border: none;

  border-radius: 50%;
  color: white;

  cursor: pointer;
}

.buttonBig {
  padding: 10px 15px;
  width: 280px;
  justify-content: center;
  text-align: center;
  font-weight: var(--fw-500);
  font-size: var(--fs-18);
  line-height: var(--line-height-25);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.icon {
  max-width: 24px;
  max-height: 24px;
  stroke-width: 3;
}

.brownMedium:hover,
.brownMedium:hover {
  outline: 1px solid var(--color-black);
  background-color: var(--color-brown-wine);
}

.brown {
  background-color: var(--color-brown-wine);
}

.noBackground {
  background: none;
}

.brown:active {
  outline: none;
  opacity: 0.8;
  background-color: var(--color-orange);
}

.buttonDisabled {
  background-color: var(--color-white);
}