.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px 10px 40px;
  display: flex;
  column-gap: 60px;
  justify-content: flex-start;
  flex-direction: column;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  color: var(--color-brown);
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding-bottom: 15px;
  margin: 0;
}
a:active {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
}
.offer a {
  color: var(--color-brown);
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding-bottom: 15px;
  margin: 0;
  font-size: 14px;
}
.linksFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 20px 0px;
  align-items: flex-start;
  column-gap: 20px;
}
.icons {
  display: flex;
  column-gap: 20px;
}
.prava {
  display: flex;
  color: var(--color-brown);
  font-size: 12px;
  justify-content: center;
  gap: 20px;
}
.dev {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.dev a {
  color: var(--color-brown);
  text-decoration: none;
  font-size: 12px;
}
