:root {
  --color-gray-light: #f8f9fa;
  --color-gray: #ececec;
  --color-gray-medium: #999999;
  --color-gray-dark: #515151;
  --color-black-lighter: #2f2f2f;

  --color-red-lighter: #efd8ca;
  --color-red-light: #e8a87c;
  --color-red: #e27d60;

  /*  
  --color-red-lighter: #efd8ca;
  --color-red-light: #e9c7b1;
  --color-red: #db4c4c;
  --color-brown: rgba(145, 128, 111, 1);
  --color-brown-medium: #e6e3d8;
  --color-brown-lighter: #f0ece0; */

  --color-gray: #485358;
  --color-brown: #85673c;
  --color-green-gray: #5b7168;
  --color-brown-wine: #552f21;
  --color-brown-lighter: #9b937c;
  --color-blue: #a9c1d2;
  --color-gray-lighter: #c4cfd0;

  /* --color-brown-medium: #a4827c; */
  --color-brown-medium: #f3e1de;
  --color-brown-lighter: #f0ece0;

  --color-yellow-darker: #fcf190;
  --color-yellow: #fdee66;

  --color-bullets-active: #70a9ff;

  --font-helvetica: helvetica;
  --font-nanum: nanum;

  --border-radius: 5px;
  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
    0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);

  /*font-weight */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
body {
  background-color: whitesmoke;
  color: var(--color-brown);
  font-family: var(--font-helvetica), "Bodoni MT", serif;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
}
.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  body {
    max-width: 1000px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    align-items: center;
  }
}
