:root {
  --color-gray-light: #f8f9fa;
  --color-gray: #ececec;
  --color-gray-medium: #999999;
  --color-gray-dark: #515151;
  --color-black-lighter: #2f2f2f;

  --color-red-lighter: #efd8ca;
  --color-red-light: #e9c7b1;
  --color-red: #db4c4c;

  --color-brown: rgba(145, 128, 111, 1);
  --color-brown-medium: #e6e3d8;
  --color-brown-lighter: #f0ece0;

  --color-yellow-darker: #d3e35f;

  --spacing-medium: 16px;
  --spacing-large: 20px;

  --font-helvetica: helvetica;

  --border-radius: 5px;
  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
    0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
}
body {
  background-color: whitesmoke;
  color: var(--color-brown);
  font-family: var(--font-helvetica), "Bodoni MT", serif;
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5px;
}
.overflow-hidden {
  overflow-y: hidden;
  padding-right: 8px;
}
