.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  align-items: center;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .main {
    max-width: 1000px;
  }
}