.title_form {
    display: block;
    margin-top: 32px;
  
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
  }
  
  .authorization_form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 32px;
  }
  
  .label_remember_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
  }
  
  .require_fail {
    margin-bottom: -12px;
  
    font-size: var(--fs-10);
    font-weight: var(--fw-500);
    line-height: var(--line-height-14);
  
    color: var(--color-deep-red);
  }
  
  .authorization_fail {
    margin-top: 8px;
    
    font-size: var(--fs-10);
    font-weight: var(--fw-500);
    line-height: var(--line-height-14);
  
    color: var(--color-deep-red);
  }
  
  
  .submit_form {
    width: 100%;
    padding: 10px;
  
    font-size: var(--fs-18);
    font-weight: var(--fw-500);
  
    border-radius: 10px;
    background: var(--blue, #70a9ff);
  }
  