.section {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  align-items: center;
  padding: 0 60px;
}
.imagePhoto {
  overflow: hidden;
  padding-top: 60px;
}
.title {
  font-size: 31px;
  text-align: center;
}

.image {
  border-radius: 20px;
  margin-right: 20px;
  object-fit: cover;
  float: left;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.insta {
  display: flex;
  background-color: var(--color-brown-medium);
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 20px;
  margin-top: 40px;
}
.containerPhoto {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .section {
    max-width: 1000px;
  }
  .containerPhoto img {
    height: 250px;
    width: 250px;
  }
  .insta {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .section {
    max-width: 768px;
  }
  .containerPhoto img {
    height: 200px;
    width: 200px;
  }
  .imagePhoto {
    padding-top: 20px;
  }
  .image {
    height: 200px;
    width: 150px;
  }
  .insta {
    gap: 20px;
  }
  .containerText h3 {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section {
    max-width: 320px;
  }
  .image {
    margin-right: 0px;
    float: none;
    margin-bottom: 20px;
  }
  .imagePhoto {
    padding-top: 20px;
  }

  .insta {
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .containerPhoto {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .containerPhoto img {
    width: 180px;
    height: 180px;
  }
  .containerText {
    padding-right: 10px;
    padding-left: 10px;
  }
  .containerText h3 {
    font-size: 12px;
    margin: 0;
  }
  .containerText h2 {
    margin: 0;
  }
}
