.container {
  display: flex;
  max-width: 1280px;
  justify-content: space-between;
  color: var(--color-brown);
  padding: 40px 60px;
  column-gap: 30px;
}
.icons {
  display: flex;
  column-gap: 20px;
  justify-content: flex-start;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.link {
  text-decoration: none;
  color: var(--color-brown);
}
