.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 60px 40px 60px;
  display: flex;
  column-gap: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.container button {
  display: flex;
}

.links {
  display: flex;
  column-gap: 10px;
}

.link {
  color: var(--color-brown);
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}

.link:active {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
}

.buttonSearch {
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-family:'Courier New', Courier, monospace;  
  /* font-family: var(--font-nanum), "Bodoni MT", serif; */
  color: var(--color-brown);
  margin: 0;
}

@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .container {
    max-width: 1000px;
    padding: 0px 60px 20px 60px;
  }
  .link{
    font-size: 14px;
  }
  
}