.container {
  max-width: 1280px;
  padding: 0 40px;
}
.tabContainer {
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 14px;
}
.title li {
  list-style: none;
}
.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.orders li {
  list-style: none;
}
.orderSum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabMobileContainer {
  display: none;
}
@media screen and (min-width: 1000px) and (max-width: 1279px) {
  .tabMobileContainer {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .tabMobileContainer {
    display: none;
  }
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 14px;
  }
  .orders li {
    font-size: 12px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .tabContainer {
    display: none;
  }
  .tabMobileContainer {
    display: flex;
    flex-direction: column;
  }
  .container {
    max-width: 320px;
  }
  .title {
    font-size: 14px;
  }
  .orders li {
    font-size: 12px;
  }
}
